body {
    overflow-x: hidden;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

*,
:before,
:after {
    box-sizing: border-box;
}

a {
    color: #21CBD8;
}

a:hover {
    color: #21CBD8;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: inherit;
    font-family: 'Ubuntu', sans-serif;
}

p {
    text-rendering: optimizeLegibility;
    line-height: 1.7em;
    margin: 25px 0;
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
}

img {
    height: auto;
    max-width: 100%;
}


/* BOTÕES */

.scroller {
    position: absolute;
    color: white;
    font-size: 1.2em;
    right: 0;
    left: 0;
    bottom: 30px;
    margin: 0 auto;
    max-width: 50px;
    max-height: 50px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid white;
    padding: 15px;
}
.scroller:hover,
.scroller:focus {
    color: white;
    background: rgba(255,255,255,0.3);
    text-decoration: none;
}

.banner-caption .btn:hover {
    color: #ffe184;
}

.default .form-control {
    border-color: white !important;
    box-shadow: none;
    max-width: 100%;
}

.form-control {
    background-color: white;
    background-image: none;
    border: 1px solid white;
    border-radius: 0;
    color: #444;
    height: 55px;
    box-shadow: none;
    border-color: #EFEDE8;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.42857;
    padding: 6px 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    background-color: white;
    border-color: #c0c0c0 !important;
}

.form-contato {
    margin-bottom: 50px;
}

.btn {
	letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    -moz-user-select: none;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.25857;
    margin-bottom: 0;
    padding: 12px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #3a292c;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #3a292c;
}

.input-group .form-control {
    z-index: 1;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 1;
}

.btn-primary {
    background-color: white;
    border-color: #21CBD8;
    color: #21CBD8;
    padding: 13px 20px;
    height: 46px;
}

.btn-filled {
    background: #21CBD8;
    color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:visited {
    background-color: #21CBD8;
    border-color: #21CBD8;
    color: white;
}

.input-lg {
    border-radius: 0;
}

.bloco {
    padding: 120px 0;
    display: block;
    background: white;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    z-index: 1;
}

.cinza {
    background: #f1f1f1;
}

.default {
    background: #e3e0da;
}

.bloco-dgn {
    background-color: #21CBD8;
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.dgn-60 {
    height: 60vh;
}

.dgn-content {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #2E405B;
    color: white;
    height: auto;
    width: 60%;
    padding: 160px 80px;
    z-index: 1;
    transform: translateY(-50%);
}

.dgn-content p {
    color: white;
}

.dgn-content .btn {
    background-color: transparent;
    border: solid 2px white;
}

.dgn-clip {
    position: absolute;
    right: 0;
    top:0;
    height: 60vh;
    width: 80%;
    padding: 100px 200px 100px 400px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin: 0;
    background-color: white;
}

.bloco-dgn img {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    left: 25%;
}

.bloco-dgn h2 {
    margin-top: 0;
}


/*	Menu superior */

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
	background: #21CBD8 !important;
	color: white;
}

.menu-topo {
    float: right;
}

.navbar-header {
    width: 100%;
}
@media(max-width: 768px) {
	.navbar-header {
		height: 60px;
		border-bottom: 1px solid #f4f4f4;
		width: 100%;
	}
    .container-fluid .navbar-header {
        margin: 0;
        padding-right: 15px;
    }

}

.navbar-brand {
    z-index: 4;
}

.navbar-brand .texto-logo {
    display: inline-block;
    margin-left: 25px;
    margin-top: -2px;
    width: 115px;
}

@media(max-width: 768px) {
    .navbar-brand .texto-logo {
        width: 120px !important;
    }
}

.navbar-toggle {
    margin: 0;
    border: none;
}

.navbar-toggle:hover,
.navbar-toggle:active {
    background: transparent;
    border: none;
}

.navbar-toggle i {
    padding: 2px;
    font-size: 25px;
}

.nav-menu {
    z-index: 4;
}

.nav-menu li > a {
    display: block;
    color: #555;
    padding: 25px 30px;
    font-size: .85em;
    letter-spacing: 0.05em;
}
.nav-menu li > a[href='#tel'] {
	pointer-events: none;
   	cursor: text;
    color: #21CBD8;
}

.nav-menu li > a:hover,
.nav-menu li > a:focus {
    color: #21CBD8 !important;
    text-decoration: none;
}

.nav-menu li:last-child > a {
    padding: 8px 16px;
    border-radius: 4px;
    transition: background .3s;
    background: transparent;
    border: 2px solid #21CBD8;
    color: #21CBD8;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
}

.nav-menu .navbar-text {
    font-size: 0.85em;
    color: #555;
    margin-left: 55px;
}

/*.glass .nav-menu li:last-child > a {
    border: 2px solid white;
    color: white;
}*/

.nav-menu li:last-child > a:after {
    display: none;
}

@media(max-width: 768px) {
    .nav-menu > ul > li:last-child a {
        margin: 10px 15px;
    }
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    z-index: 4;
}

.page-template-page-home .navbar {
    background: transparent;
}

.navbar .collapse.in .navbar-nav {
    position: fixed;
    padding-top: 70px;
    min-width: 100%;
    background: #21CBD8;
    z-index: 1;
    opacity: 1;
}

.navbar-fixed-top .container-fluid {
    padding: 0;
}

.glass .navbar-fixed-top .navbar-collapse,
.open .navbar-fixed-top .navbar-collapse {
    background: transparent;
    border-bottom: none;
}

/*.glass .navbar-fixed-top .current-menu-item a,
.glass .navbar-fixed-top .navbar-collapse a,
.glass .navbar-fixed-top .navbar-collapse a:hover,
.open .navbar-fixed-top .current-menu-item a,
.open .navbar-fixed-top .navbar-collapse a,
.open .navbar-fixed-top .navbar-collapse a:hover {
    color: white !important;
}*/
@media(max-width: 768px) {
	.glass .navbar-fixed-top .current-menu-item a,
	.glass .navbar-fixed-top .navbar-collapse a,
	.glass .navbar-fixed-top .navbar-collapse a:hover {
	    color: #333 !important;
	}

    .collapse #menu-menu-topo,
    .collapsing #menu-menu-topo {
        height: 0;
        transition: height .3s;
    }

    .collapse.in #menu-menu-topo {
        float: left;
        display: flex;
        height: 100vh;
        align-items: center;
    }
}

.glass .navbar-fixed-top .current-menu-item:after {
    background: white;
}
@media(max-width: 768px) {
	.glass .navbar-fixed-top .current-menu-item:after {
    	background: #21CBD8;
	}
}


.navbar-fixed-top .navbar-collapse {
    padding: 0 15px;
    background: white;
    border-bottom: 1px solid #f3f3f3;
    transition: background .3s;
}

.navbar-fixed-top .current-menu-item {
    position: relative;
}

.navbar-fixed-top .current-menu-item a {
    color: #21CBD8;
    transition: color .3s;
}

.navbar-fixed-top .current-menu-item:after {
    content: '';
    height: 4px;
    width: 40px;
    position: absolute;
    background: #21CBD8;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: background .3s;
}

.navbar-fixed-top .menu-item:last-child:after {
    display: none;
}

.navbar-header {
    display: block;
    width: 100%;
}
@media(max-width: 768px) {
	.glass .navbar-header {
		background: transparent;
		border: none;
	}
	.navbar-header {
		background: white;
	}
}

.logo {
    display: block;
    position: absolute;
    width: auto;
    padding: 0;
    margin-left: 40px !important;
    margin-top: 20px;
}

/*.glass .logo img,
.open .logo img {
    content: url('../img/logo_branco.png');
}
@media(max-width: 768px) {
    .open .logo img {
        content: '';
    }
    .open.glass .logo img {
        content: url('../img/logo_branco.png');
    }
}
*/
.logo img {
    width: 155px;
    display: inline-block;
    content: url('../img/logo.png');
}
@media(max-width: 768px){
    .logo {
        margin-left: 20px !important;
    }

	.logo img {
		margin-top: -0px;
		width: 120px;
	}
}

.navbar-toggle {
	padding: 5px 8px;
}	

.navbar ul li .btn {
    margin: 15px 0 15px 30px;
    color: white;
    font-weight: 300;
    padding: 8px 10px;
    font-size: .9em;
    background-color: #ffd16c;
    border-color: #ffd16c;
    letter-spacing: 1px;
}

.navbar ul li .btn:hover,
.navbar ul li .btn:focus {
    background-color: #FFD16C;
    color: white;
}

.menu-dropdown {
    display: none;
    opacity: 0;
    transition: opacity .5s;
}

.open .menu-dropdown li:last-child > a {
    border: none;
}

.opening .menu-dropdown,
.open.opening .menu-dropdown {
    opacity: 0;
}

.opening .menu-dropdown,
.open .menu-dropdown {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.open .menu-dropdown {
    opacity: 1;
}
@media(max-width: 768px){
    .open .menu-dropdown {
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 999;
        padding-top: 60px;
    }
}

.open .menu-dropdown li {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s;
    background-color: white;
}
.open .menu-dropdown li:hover {
    flex-basis: 15%;
    background-color: #eee;
}

/*.open .menu-dropdown li:first-of-type {
    background: #333;
}
.open .menu-dropdown li:nth-child(2) {
    background: #21CBD8;
}
.open .menu-dropdown li:last-child {
    background: #2E405B;
}*/

.open .menu-dropdown li:last-child a {
    text-transform: capitalize;
    color: #555;
}

.open .menu-dropdown li:last-child a {
    text-transform: none;
}

.open .menu-dropdown li:nth-child(2) {
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
}

.open .menu-dropdown li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
@media(max-width: 768px) {
    .open .menu-dropdown li a {
        margin-left: 0;
    }
}

.open .nav-menu .menu-dropdown li a,
.open .nav-menu .menu-dropdown li a:hover {
    background: transparent;
}

.menu-dropdown li a img {
    margin-bottom: 20px;
}

.menu-dropdown li a p {
    font-size: .9em;
    width: 80%;
    width: 210px;
    text-align: center;
}

.dropdown-link {
    position: relative;
}
.dropdown-link:before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    right: 5px;
}

/* MENU LATERAL DIREITO */

.menu-trigger {
    cursor: pointer;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 30px;
    padding-top: 15px;
    line-height: 2.55em;
    color: #ffe184;
    letter-spacing: 0.04em;
    display: block;
    float: right;
}

.menu-trigger .fa-bars {
    font-size: 1.9em;
    margin-left: 8px;
    padding-top: 6px;
    float: right;
}

.container-menu {
    height: 100vh;
    position: fixed;
    right: -250px;
    z-index: 2;
    width: 250px;
    background-color: #ffe184;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.container-menu.active {
    right: 0;
}

.container-menu .menu {
    padding: 0;
    padding-top: 1.9em;
    list-style: none;
}

.container-menu .menu > li > a:not(.btn) {
    color: #3a292c;
    display: block;
    font-size: 1.1em;
    list-style: outside none none;
    padding: 16px 18px 16px 25px;
}

.container-menu .menu > li > a:not(.btn):hover {
    background: #ffd16c !important;
    color: #3A292C !important;
}


/* BANNER PAGINA INICIAL */
.banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.banner-home {
    background: white url('../img/banner-cidade.png') repeat-x;
    background-size: cover;
    -webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 30s linear infinite;  
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 100%;}  
    to {background-position: -100vw 100%;}  
}
@keyframes backgroundScroll {
    from {background-position: 0 100%;}  
    to {background-position: -100vw 100%;}  
}

.motoqueiro {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 140px;
    height: 220px;
    width: 305px;
    transform: translate3d(0,0,0);
    transition: transform 1s;
}
@media(min-width: 768px) {
    .motoqueiro {
        height: 410px;
        width: 455px;
        bottom: 100px;
    }
}

.motoqueiro.scroll {
    transform: translate3d(-250%,0,0);
    -webkit-animation: motofora_kit 1.4s linear;
    -moz-animation: motofora_m 1.4s linear;
    -o-animation: motofora 1.4s linear;
    animation: motofora 1.4s linear;
}

@-webkit-keyframes motofora_kit {
    0% {transform: translate3d(0,0,0); transition: transform 1.4s;}
    15% {transform: translate3d(-10%,0,0);}
    25% {transform: translate3d(-13%,0,0);}
    99.9% {transform: translate3d(250%,0,0); transition: transform 0s;}
    100% {transform: translate3d(-250%,0,0);}
}
@-moz-keyframes motofora_m {
    0% {transform: translate3d(0,0,0); transition: transform 1.4s;}
    15% {transform: translate3d(-10%,0,0);}
    25% {transform: translate3d(-13%,0,0);}
    99.9% {transform: translate3d(250%,0,0); transition: transform 0s;}
    100% {transform: translate3d(-250%,0,0);}
}
@keyframes motofora {
    0% {transform: translate3d(0,0,0); transition: transform 1.4s;}
    15% {transform: translate3d(-10%,0,0);}
    25% {transform: translate3d(-13%,0,0);}
    99.9% {transform: translate3d(250%,0,0); transition: transform 0s;}
    100% {transform: translate3d(-250%,0,0);}
}

.motoqueiro .moto {
    height: 260px;
    width: 300px;
    background: transparent url('../img/banner-moto.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
@media(min-width: 768px) {
    .motoqueiro .moto {
        height: 410px;
        width: 455px;
    }
}

.motoqueiro .roda {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -75px;
    animation: rodas 0.5s linear infinite;
    z-index: 4;
    background: transparent url('../img/banner-roda.png');
    background-size: cover;
}
@media(min-width: 768px) {
    .motoqueiro .roda {
        width: 110px;
        height: 110px;
        bottom: -40px;
    }
}

.motoqueiro .roda1 {
    left: 23%;
}

.motoqueiro .roda2 {
    left: 75%;
}
@media(min-width: 768px) {
    .motoqueiro .roda2 {
        left: 76%;
    }
}

@keyframes rodas {
    to {transform: rotate(0deg);}
    from {transform: rotate(-360deg);}
}

.motoqueiro .fumaca {
    width: 90px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: -120px;
    background: transparent url('../img/banner-fumaca.png');
    background-size: cover;
    animation: fumaca 3s alternate infinite;
}
@media(min-width: 768px) {
    .motoqueiro .fumaca {
        width: 70px;
        height: 50px;
    }
}

@keyframes fumaca {
    to {left: 10px;}
    from {left: -10px;}
}

.banner {
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.banner .moto {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1000px;
}

.banner img {
    opacity: 1;
}

.banner .banner-caption h2 {
    font-size: 2.1rem;
    margin-right: 30px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 1em;
}

@media(max-width: 768px) {
    .banner .banner-caption h2 {
        margin-bottom: 1.3em;
        margin-right: 0;
        line-height: 1.6;
    }
}

.banner .banner-caption .btn-outline {
    padding: .9em 1.2em;
    border-radius: 0;
}

.banner .lead,
.banner p {
    font-size: 1.2em;
    text-transform: none;
    text-align: center;
    min-width: 100%;
    color: white;
}


.texto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.texto h2 {
    font-weight: 400;
}

.btn-outline {
    border: solid 2px #21CBD8;
    color: #21CBD8;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1.2em;
}

.btn-outline:hover {
    border-color: #ffe184;
    ;
    color: #ffe184;
}

.btn-outline-dark {
    border-color: #7f7469;
    color: #7f7469;
    padding: 1em;
}

.btn-outline-dark:hover {
    border-color: #bbad9e;
    color: #bbad9e;
}

.tit {
    font-weight: 700;
    font-size: 1.9em;
    text-align: center;
    letter-spacing: 1px;
}

.tit-banner {
    font-size: 3.3em;
    text-transform: none;
    font-weight: 400;
    min-width: 100%;
    margin-bottom: 15px;
}

.tit-home {
    font-size: 2em;
    text-transform: none;
    font-weight: 400;
    min-width: 50%;
    width: 95% !important;
    margin-bottom: 15px;
    margin-top: -400px;
    color: #222;
}
@media(min-width: 768px) {
    .tit-home {
        font-size: 2.5em;
        min-width: 50%;
        width: 50% !important;
        margin-top: -430px;
    }
}

.tit-secao {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

@media(max-width: 768px) {
    .home .tit-secao {
        margin-top: 50px;
    }
}

.tit-small {
    color: #3A292C;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1em;
}

.banner {
    margin-bottom: 0 !important;
    position: relative;
}

/* BANNER ECOMERCE */

.parallax {
    position: absolute;
}

#astronauta {
    max-width: 390px;
    height: auto;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    animation: bounce 1s;
    transition: margin-top 1s;
}

@keyframes bounce {
    from: margin-top: -10px;
    to: margin-top: 10px;
}

#book {
    top: 45%;
    left: 85%;
    max-width: 60px;
}

#shirt {
    top: 30%;
    left: 70%;
    max-width: 130px;
}

#doll {
    top: 24%;
    left: 30%;
    max-width: 60px;
}

#mug {
    top: 50%;
    left: 21%;
    max-width: 90px;
}

#note {
    top: 80%;
    left: 30%;
    max-width: 120px;
}

/* BANNER LABORATORIOS */
#motoboy {
    position: fixed;
    bottom: 100px;
    left: 20%;
    width: 400px;
    animation: vaievem 6s linear infinite;
    z-index: 0;
}
@media(max-width: 768px) {
    #motoboy {
        width: 290px;
    }
}

@keyframes vaievem {
    0% {left: -400px;}
    49% {transform: scaleX(1);}
    50% {left: 100%; transform: scaleX(-1);}
    99% {transform: scaleX(-1);}
    100% {left: -400px;transform: scaleX(1);}
}
#motoboy .moto2 {
    position: relative;
    z-index: 2;
}

#motoboy .roda {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: -30px;
    z-index: 1;
    animation: rodas 1s linear infinite;
}

#motoboy .roda1 {
    right: 0;
}
#motoboy .roda2 {
    left: 90px;
}

#mulher {
    max-width: 435px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
@media(max-width: 768px) {
    #mulher {
        max-width: 355px;
    }
}

#oculos {
    position: absolute;
    bottom: 240px;
    left: 49.5%;
    width: 260px;
    overflow: hidden;
    transform: translate(-50%,-50%);
    animation: oculos ease 1.5s;
    animation-iteration-count: infinite;
    animation-delay:1.5s;
    opacity: 0;
}
@media(max-width: 768px) {
    #oculos {
        bottom: 200px;
        width: 209px;
    }
}

@keyframes oculos {
  0% {
    opacity: 0.5; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; }
}

#oculos img {
    min-width: 1030px;
    animation: oculosimg linear 6s;
    animation-iteration-count: infinite;
    animation-delay:1.5s;
}
@media(max-width: 768px) {
    #oculos img {
        animation: oculosMobile linear 6s;
        animation-iteration-count: infinite;
        animation-delay:1.5s;
        min-width: 800px;
        max-width: 800px;
    }
}

@keyframes oculosimg {
  0% {
    transform: translate(5px, 0px); }
  24.99% {
    transform: translate(5px, 0px); }
  25% {
    transform: translate(-255px, 0px); }
  49.99% {
    transform: translate(-255px, 0px); }
  50% {
    transform: translate(-510px, 0px); }
  74.99% {
    transform: translate(-510px, 0px); }
  75% {
    transform: translate(-770px, 0px); }
  99.99% {
    transform: translate(-770px, 0px); }
}

@keyframes oculosMobile {
  0% {
    transform: translate(0px, 0px); }
  24.99% {
    transform: translate(0px, 0px); }
  25% {
    transform: translate(-200px, 0px); }
  49.99% {
    transform: translate(-200px, 0px); }
  50% {
    transform: translate(-400px, 0px); }
  74.99% {
    transform: translate(-400px, 0px); }
  75% {
    transform: translate(-600px, 0px); }
  99.99% {
    transform: translate(-600px, 0px); }
}

/* BANNER EMPRESA */
.banner-empresa img:not(.envelope) {
    position: absolute;
    width: 90%;
    left: 0;
    bottom: 0;
    z-index: 3;
}
@media(min-width: 768px) {
    .banner-empresa img:not(.envelope) {
        width: 40%;
        max-width: 450px;
    }
}

.banner-empresa img.envelope {
    position: absolute;
    z-index: 1;
    max-width: 200px;
    animation: envelope 3s linear infinite;
}

.banner-empresa img.envelope1 {
    top: 32%;
    left: 80%;
    animation: envelope 2s linear infinite;
    z-index: 2;
}

.banner-empresa img.envelope2 {
    top: 12%;
    left: -20%;
    animation: envelope2 4s linear infinite;
    z-index: 1;
}

.banner-empresa img.envelope3 {
    top: 55%;
    left: 33%;
    animation: envelope3 6s linear infinite;
    z-index: 1;
}

.banner-empresa img.envelope4 {
    top: 40%;
    left: 1%;
    animation: envelope4 8s linear infinite;
    z-index: 0;
}

@media(min-width: 768px) {
    @keyframes envelope {
        0% {left: -10%; transform: rotate(0deg) scale(1.2,1.2);}
        100% {left: 110%; transform: rotate(360deg) scale(1.2,1.2);}
    }

    @keyframes envelope2 {
        0% {left: -10%; transform: rotate(0deg) scale(0.9,0.9);}
        100% {left: 110%; transform: rotate(360deg) scale(0.9,0.9);}
    }

    @keyframes envelope3 {
        0% {left: -10%; transform: rotate(0deg) scale(0.7,0.7);}
        100% {left: 110%; transform: rotate(360deg) scale(0.7,0.7);}
    }

    @keyframes envelope4 {
        0% {left: -10%; transform: rotate(0deg) scale(0.5,0.5);}
        100% {left: 110%; transform: rotate(360deg) scale(0.5,0.5);}
    }
}

.acompanhamento h2,
.empresa-rapidez h2 {
    margin-top: 65px;
}

.acompanhamento img {
    min-width: 130%;
}



/* FOOTER */

footer,
footer p {
    color: white;
}
@media(max-width: 768px) {
	footer * {
		text-align: center;
	}
}

footer.secundario {
    padding-left: 30px;
    padding-right: 30px;
}

footer h4 {
	margin-bottom: 15px;
}

footer.bloco {
    padding-bottom: 0;
    padding-top: 80px;
    background: #2E405B;
    border-bottom: 0;
}

footer span {
    font-size: 12px;
    display: block;
}

footer span:nth-child(2) {
    margin-top: 10px;
}

footer .icon-thegarage {
    margin: 0 auto;
    margin-bottom: 3.5em;
    background: #ffd16c;
    padding: .5em .5em .5em .6em;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

footer a {
    color: white;
}

.logo-footer {
	max-width: 100px;
	display: inline;
	float: left;
	margin-right: 40px;
}
@media(max-width: 768px) {
	.logo-footer {
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-top: 10px;
		max-width: 140px;
		padding-bottom: 5px;
		padding-top: 10px;
		float: none;
	}
}

.footer-social {
	display: flex;
}
.footer-social li {
	padding-right: 20px;
    font-size: 1.2em;
}
@media(max-width: 768px) {
	.footer-social {
		justify-content: center;
		margin-bottom: 30px;
	}
	.footer-social li {
		margin: 0 10px;
		padding: 0;
	}
}

.footer-social li a {
    border: 2px solid rgba(255,255,255,0.55);
    color: rgba(255,255,255,0.55);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
}

.footer-social li a i {
    margin-top: 3px;
}

.footer-categorias {
    margin-bottom: 35px;
}

.footer-contato span {
    margin-bottom: 10px;
    font-size: 1.1em;
}
@media(max-width: 768px) {
	.footer-contato {
		padding: 0 15px;
		margin-bottom: 40px;
	}
}

.footer-contato .tel {
    font-size: 1.2em;
    color: white;
}

.footer-categorias li {
    margin-bottom: 5px;
    display: block;
    padding: 0 15px;
}

.footer-categorias a,
.footer-contato span,
.line span {
    color: rgba(255,255,255,0.55);
    font-weight: 300;
}

.footer-categorias a:hover,
.footer-social li a:hover {
    color: white;
    border-color: white;
}

.form-horizontal .control-label {
    padding-top: 0;
    width: 24.666667%;
    line-height: 1.3;
}

#menu-menu-topo {
    float: left;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
@media(max-width: 768px) {
	#menu-menu-topo {
		flex-wrap: wrap;
		width: 100%;
		flex-direction: column;
		padding: 0;
	}
	#menu-menu-topo li {
		width: 100%;
		text-align: center;
		/*border-bottom: 1px solid #f4f4f4;*/
	}

	.navbar .collapsing .navbar-nav, 
	.navbar .collapse.in .navbar-nav {
		padding-top: 0;
        margin: 0 !important;
	}
}

.line span {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right: 10px;
    text-align: right;
    font-size: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media(max-width: 768px) {
	.line span {
		text-align: center;
	}
}


/*  Rapidez e eficiência  */

.nav-rapidez {
    border-bottom: none;
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    background: white;
    z-index: 3;
}

.nav-rapidez:before {
    content: ' ';
    width: 100%;
    top: 0;
    height: 40px;
    background: transparent url(../img/banner-cidade.png) center bottom;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3;
    border-radius: 50px;
}

.nav-rapidez > li {
    margin-bottom: 0;
    padding-top: 15px;
    flex: 1;
    display: flex;
    justify-content:center;
}
.nav-rapidez > li:before {
    /*content: ' ';
    position: absolute;
    top: 0;
    height: 25px;
    width: 2px;
    background: #ddd;
    transition: background .3s;*/
}
.nav-rapidez > li:hover:before {
    background: #21CBD8;
}
.nav-rapidez > li:nth-child(2):before {
    left: -4px;
    right: 0;
    margin: auto;
}
.nav-rapidez > li:first-of-type:before {
    left: 20px;
    margin-left: 40px;
}
.nav-rapidez > li:last-child:before {
    right: 66px;
}
.nav-rapidez > li:after {
    content: ' ';
    position: absolute;
    opacity: 1;
    background: white;
    z-index: 3;
    top: 13px;
    height: 15px;
    width: 15px;
    border: 2px solid #ddd;
    right: 0;
    left: -4px;
    margin: auto;
    border-radius: 4px;
    transform: rotate(45deg);
    transition: border-color .2s;
}
@media(max-width: 768px) {
    .shark-menu .nav-rapidez > li:last-child {
        padding-right: 0;
    }
    .shark-menu .nav-rapidez > li:first-of-type {
        padding-left: 0;
    }
}
.nav-rapidez > li:hover:after {
    border-color: #21CBD8;
}
.nav-rapidez > li.active:after {
    background-color: #21CBD8;
    border-color: #21CBD8;
}
.nav-rapidez > li:first-of-type:after {
    left: 51px;
    right: auto;
}
.nav-rapidez > li:last-child:after {
    right: 56px;
    left: auto;
}
/*.nav-rapidez > li.active:before {
    background: #21CBD8;
}*/
.nav-rapidez > li:first-of-type {
    justify-content: flex-start;
    padding-left: 20px;
}
.nav-rapidez > li:last-child {
    justify-content: flex-end;
    padding-right: 20px;
}

.nav-rapidez > li >a {
    display: flex;
    padding: 70px 10px 0;
    /*margin-top: -55px;*/
    align-items: center;
    justify-content: center;
    margin-right: 0;
    color: #333;
    z-index: 4;
    background: transparent;
    font-size: .9em;
    text-align: center;
}
@media(min-width: 768px) {
    .nav-rapidez > li >a {
        padding: 30px 30px 0;
        font-size: 1.1em;
    }
}

.nav-rapidez > li:first-of-type >a {
    margin-left: -27px;
}
.nav-rapidez > li:last-of-type >a {
    margin-right: -27px;
}

.nav-rapidez > li.active > a {
    border: none;
}

.nav-rapidez >li > a:hover {
    border: 1px solid transparent;
    background: transparent;
}

.nav-rapidez>li.active>a,
.nav-rapidez>li.active>a:focus,
.nav-rapidez>li.active>a:hover {
    color: #21CBD8;
    background: transparent;
    border: none;
}

.tab-rapidez ul {
    margin-top: 35px;
}

.tab-rapidez ul > li {
    margin-bottom: 30px;
    padding-left: 20px;
    color: #555;
    position: relative;
}

.tab-rapidez ul > li:before {
    font-family: FontAwesome;
    content: "\f105";
    color: #21CBD8;
    line-height: 1;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.shark-menu {
    position: relative;
}

.shark-menu .finn {
    display: none;
    position: absolute;
    max-width: 45px;
    top: -30px;
    margin-left: 20px;
    left: 16px;
    transform: scale(1, 1);
    transition: left 1s, transform .1s;
}
@media (min-width: 768px) {
    .shark-menu .finn {
        display: block;
    }
}
.shark-menu .finn.reverse {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

@media (max-width: 992px) {
    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
    .tit-principal {
        margin-top: 40px;
    }
    .conteudo header p {
        margin-bottom: 0;
    }
    .navbar-collapse.collapsing .navbar-nav,
    .navbar-collapse.collapse .navbar-nav,
    .navbar-collapse.collapse.in .navbar-nav {
        margin: 0;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .banner .slick-slide .banner-caption {
        top: 70%;
    }
    /*		MOBILE MENU SUPERIOR	*/
    .navbar {
        z-index: 5;
    }
    .navbar-toggle i {
        padding: 4px;
    }
    /*.glass .navbar-toggle i {
    	color: white;
    }*/
    .navbar .collapsing .navbar-nav,
    .navbar .collapse.in .navbar-nav {
        margin-top: 0;
        z-index: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background: white;
        margin-left: -15px;
        margin-right: -15px;
    }
    .nav-menu .search-menu .dropdown-menu {
        margin-right: 0;
        margin-top: 10px;
        right: 0;
    }
    .navbar .search-form {
        width: 100%;
        margin: 0;
    }
    .navbar .search-field.open {
        width: 100%;
    }
    .navbar-default .navbar-toggle {
        z-index: 3;
        margin-top: 8px;
    }
    .navbar-default .navbar-nav>li>a {
        border-top: 1px solid #2B1F21;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: #19080B;
    }
    h1,
    h2,
    h3 {
        text-align: center;
    }
    .bloco {

        padding: 40px 1em;
    }
    .menu-trigger {
        padding-top: 5px;
        margin-right: 0;
    }
    textarea {
        width: 100%;
    }
    .container-menu .menu > li > a:not(.btn) {
        padding: 16px 18px 16px 20px;
    }
    .lista-garagem li {
        min-height: 230px;
    }
    .page-template-page-carro .lista-garagem li:nth-child(3n+1) {
        clear: none;
    }
}


/* Bloco Home Servicos */

.servicos h4 {
    margin-top: 30px;
}

.servicos img {
	overflow: visible;
	max-width: 100px;
}
@media(max-width: 768px) {
	.servicos h4,
	.servicos img {
		margin: 0 auto;
		text-align: center;
	}
	.servicos img {
		margin-bottom: 20px;
	}
	.servicos .btn {
		display: block;
		margin-bottom: 60px;
	}
}
@media(max-width: 992px) {
    .servicos > div {
        margin-bottom: 40px;
    }
}

/* Bloco Page Serviço */

.header.bloco {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 120px;
    align-items: center;
}

.header.bloco .container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-page-servico {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    border-color: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.nav-page-servico > li > a,
.nav-page-servico > li.active > a,
.nav-page-servico > li.active > a:hover,
.nav-page-servico > li.active > a:focus {
    color: #333;
    border-bottom: none;
}

.nav-page-servico > li > a {
    padding: 16px 45px;
    margin: 0 5px;
    background: #ddd;
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: 1px;
    font-weight: 600;
}
@media(max-width: 768px) {
	.nav-page-servico > li > a {
		padding: 13px 10px;
	}
}

.nav-page-servico > li:not(.active) > a:hover,
.nav-page-servico > li:not(.active) > a:focus,
.nav-page-servico > li:not(.active) > a:hover:focus {
    background: #f9f9f9;
    padding-bottom: 16px;
}

.item {
    padding: 25px 45px 15px 45px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #eee;
    min-height: 210px;
    background: white;
}

.item img {
    max-width: 90px;
    margin-bottom: 20px;
}

.item h4:before {
    position: absolute;
    top: 0;
    content: '';
    height: 4px;
    width: 40px;
    background: #21CBD8;
}

.item:hover,
.item:hover:before {
    background: #f9f9f9;
}

.lead {
    color: #21CBD8;
    margin-top: 0;
}

.item:before {
    position: relative;
    content: ' ';
    background: white;
    border: 1px solid #eee;
    border-bottom: none;
    border-left: none;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: -30px;
    bottom: 0;
    margin: auto;
    height: 30px;
    width: 30px;
}

.item.no-arrow:before {
    display: none;
}

.passos .col-md-6:nth-child(2) .item:before {
    top: auto;
    bottom: 15px;
    left: 0;
    right: 0;
    border-top: none;
    border-bottom: 1px solid #eee;
}

.passos .col-md-6:nth-child(5) .item:before {
    bottom: auto;
    top: -15px;
    left: 0;
    right: 0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: none;
}

.passos .col-md-6:nth-child(6) .item:before,
.passos .col-md-6:nth-child(4) .item:before {
    left: 0;
    right: auto;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: none;
    border-top: none;
}

@media(max-width: 992px) {
    .passos .col-md-4:nth-child(3) .item:before,
    .passos .col-md-4:nth-child(4) .item:before,
    .passos .col-md-4:nth-child(5) .item:before,
    .passos .col-md-4:nth-child(6) .item:before,
    .item:before {
        bottom: -14px;
        left: 0;
        right: 0;
        top: auto;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    .radar {
        background: none !important;
    }

    .passos .col-md-4:nth-child(7) .item:before {
        display: none;
    }
}

.passos .lead {
    margin-bottom: 50px;
}


/* Chamada */

.chamada {
    /*height: 70vh;*/
    display: flex;
    align-items: center;
    background: #f9f9f9;
    position: relative;
}

.chamada:before {
    content: '';
    background: #21CBD8;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}

.chamada .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chamada .container {
    z-index: 4;
}

.chamada h3 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}
@media (max-width: 768px) {
    .chamada .btn {
        margin-bottom: 30px;
        display: block;
    }
}

.chamada .blc-white {
    background-color: white;
    padding: 60px 180px;
}


/* BLOG */

.post {
    padding: 50px 30px;
    border-bottom: 1px solid #f4f4f4;
}

.img-wrap {
    max-width: 100%;
    max-height: 190px;
    overflow: hidden;
    display: block;
}

/* FAQ */

.faq {
    padding-top: 40px;
}

.panel-group .panel {
    box-shadow: none;
    margin-bottom: 10px;
}

.panel-default>.panel-heading {
    background: #f9f9f9;
    padding: 0;
}

.panel-default > .panel-heading a {
    padding: 14px 15px;
    display: block;
    color: #555;
    position: relative;
}

.panel-default > .panel-heading a:focus {
    text-decoration: none;
}

.panel-default > .panel-heading i {
    float: right;
    top: 2px;
    position: relative;
    padding-right: 12px;
}

.panel-default > .panel-heading i:before {
    position: absolute;
    font-size: 13px;
    margin: auto;
    transition: transform .4s;
}

.panel-default > .panel-heading a[aria-expanded=true] i:before{
    color: #21CBD8;
    transform: rotate(90deg);
}

.panel-body p {
    margin: 10px 0;
    padding: 10px;
}